.btn {
  padding: 10px;
  text-transform: uppercase;
  
 
}
.btn__green {
   background-color: green;
}
.btn__red {
   background-color: red;
}
.btn__add-card {
   border-radius: 5px;
   outline: none;
   
}